body,html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background: #0d101e;
}
p.center {
    margin: 0;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -15%);
}

img.center {
    margin: 0;
    position: absolute;
    top: -8%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 8%);
}